<!DOCTYPE html>
<!-- TO Initialize html tag must contain ng-app -->
<html ng-app='try'>
  <head>
    <meta charset="utf-8">
    <title>Try Angular 1.5</title>
    <script type="text/javascript" src="./js/angular.min.js"></script>
    <script type="text/javascript" src="./js/app/app.module.js"></script>
    <script type="text/javascript" src="./js/app/app.config.js"></script>
    <script type="text/javascript" src="./js/app/blog-list/blog-list.module.js"></script>
    <script type="text/javascript" src="./js/app/blog-list/blog-list.component.js"></script>
    <style>
      .new-class{
        font-size: 72px;
      }
      .other-class{
        font-size: 35px;
      }

    </style>
  </head>
  <body>
    <!-- Demo of conditional and classes -->
    <h1 class="new-class" ng-class="{'other-class': name=='Monish'}" >Hello, <span ng-if='name'>{{ name }}</span><span ng-if='!name'>World</span>!</h1>
    <input type='text' ng-model='name'/>


    <!-- Demo of ng-controller -->
    <blog-list></blog-list>

  </body>
</html>
